

<form id="newpost-form" method="POST" action="/newpost">

	<div class="newpost-wrapper"></div>
	
	<h1>Ahoy, Matey</h1>

	<div   class="newpost-Form-input newpost-Form-user_id"></div>
  <input type="text" id="newpost-user_id" 
  		   class="text-input newpost-input" 
         name="body"
         placeholder="Post Shiver Me Timbers">
  </div>

<input type="submit" value="publish" class="submit button selected">
</div>

</div>
</form>
