<form id="signin-form" method="POST" action="/signin">

<div class="signin-wrapper"></div>
<p>Ahoy Mate!</p>

	<div   class="signin-Form-input signin-Form-username"></div>
    <input type="text" id="signin-email"
    	   class="text-input email-input" 
    	   name="email" 
           placeholder="email">
 </div>

	<div   class="Signin-Form-input Signin-Form-password"></div>
	<input type="password" id="signin-password" 
	       class="text-input" 
	       name="password"
	       placeholder="Password">
</div>

<input type="submit" value="Log In" class="submit button selected">
	</div>
 </div>
</form>
