
<form id="signup-form" method="POST" action="/signup">

	<div class="signup-wrapper"></div>
	<h1>Be A Pirate today.</h1>

	<div   class="Signup-Form-input signup-Form-username"></div>
    <input type="text" id="signup-username" 
    	   class="text-input username-input" 	
    	   name="username" placeholder="fullname">
  </div>

	<div   class="Singup-Form-input signup-Form-email"></div>
	<input type="text" id="signup-email" 
		   class="text-input email-input"  
		   name="email" placeholder="email">
</div>

	<div   class="Signup-Form-input signup-Form-password"></div>
	<input type="text" id="signup-password" 
		   class="text-input password-input"  
		   name="password" placeholder="create password">
</div>

	<input type="submit" value="sign up" class="submit button selected">
</div>

</div>
</form>

<form id="signin-form" method="POST" action="/signin">
<div class="signin-wrapper"></div>

<p>For Current Pirates</p>
	<div   class="signin-Form-input signin-Form-username"></div>
    <input type="text" id="signin-email" 
    	   class="text-input email-input" 
    	   name="email" placeholder="email">
 </div>

	<div   class="Signin-Form-input Signin-Form-password"></div>
	<input type="password" id="signin-password" 
	       class="text-input" 
	       name="password" placeholder="Password"></div>

<input type="submit" value="Log In" class="submit button selected"></div>

</div>
</form>



